.main {
    padding: 1.6rem;
    padding-bottom: 0;

    h2 {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.65);
    }
}


.bookings {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;

    .noBookingsMessage {
        font-weight: normal;
        margin: 0 1.6rem;

        span {
            text-decoration: underline;
        }
    }
}

@media (min-width: 700px) {
    .main {
        max-width: 100rem;
        margin: auto;
        margin-top: 4rem;

        h2 {
            font-size: 1.6rem;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.65);
        }
    }

    .bookings {
        gap: 2.4rem;
        
    .noBookingsMessage {
        font-weight: normal;
        margin: 0 auto;
        margin: auto;
        margin-top: 4rem;

        span {
            text-decoration: underline;

            &:hover {
                cursor: pointer;
                color: rgb(126, 126, 126);
            }
        }
    }
    }
}