.main {
    padding: 0.8rem 1.6rem;
    min-width: 16rem;

    span {
        font-size: 1.4rem;
    }
}

.shared {
    border: 1px solid black;
}

.fill {
    background-color: #000000;
    color: white;
    @extend .shared;

    &:hover {
        cursor: pointer;
        background-color: #555555;
        border-color: #555555;
    }
}

.delete {
    background-color: #c72323;
    border-color: #c72323;
    color: white;
    @extend .shared;

    &:hover {
        cursor: pointer;
        background-color: #d16161;
        border-color: #d16161;
        content: "weew";
    }
}

.stroke {
    color: blue($color: #000000);
    background-color: white;
    @extend .shared;

    &:hover {
        cursor: pointer;
        background-color: #dfdfdf;
    }
}