.main {
    padding: 0.8rem 1.6rem;
    min-width: 16rem;
    border-radius: 12rem;
    transition: all 0.2s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    span {
        font-size: 1.4rem;
    }
}

.shared {
    border: 1px solid black;
}

.fill {
    background-color: #000000;
    color: white;
    @extend .shared;


    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.delete {
    border: none;
    background-color: #c23939;
    color: white;
    @extend .shared;


    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

}

.stroke {
    border: none;
    color: blue($color: #000000);
    background-color: white;
    @extend .shared;

    &:hover {
        cursor: pointer;
        background-color: rgb(235, 235, 235);
        transform: scale(1.05);
    }
}