.spanFontSize {
    font-size: 1.4rem;
}

.main {
    border: none;
    width: 12rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.521);
    border-radius: 0.65rem;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        background-color: #f3f3f3;
        transform: scale(1.05);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.747);
    }
}

.default {
    @extend .main;
    
    span {
        font-weight: normal;
        margin: 1rem 0;
    }
    @extend .spanFontSize;
}



.selected {
    @extend .main;
    background-color: rgb(165, 255, 143);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.521);
    span {
        font-weight: bold;
        margin: 1rem 0;
    }
     @extend .spanFontSize;

     &:hover {
        cursor: pointer;
        background-color: rgb(165, 255, 143);
    }
}

.booked {
    opacity: 0.4;
    span {
        font-weight: bold;
        margin: 1rem 0;
    }
    @extend .main;
    @extend .spanFontSize;
}

.slots {
    height: 2rem;
    // background-color: rgb(216, 216, 216);
    border-top: 1px solid black;
    padding: 0.4rem;
    span {
        // text-transform: uppercase;
        opacity: 0.65;
        font-weight: bold;
    }
}