.main {
    border: 1px solid black;
    padding: 1.2rem;
    margin: 1.6rem;
    margin-top: 0;

    h3 {
        font-size: 1.6rem;
        margin: 0;
    }

    hr {
        margin: 1.6rem 0;
    }

    .bookingID {
        font-weight: normal;
        margin: 1rem 0;
    }
    
    span {
        font-size: 1.6rem;
    }

    .topSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.6rem;
    }

    .bottomSection {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .dateTimeSection {
            display: flex;
            gap: 0.4rem;
            flex-wrap: wrap;
        }
        
        .timeslots {
            display: flex;
            flex-wrap: wrap;
            gap: 0.4rem;

            .date {
                font-weight: bold;
                opacity: 0.5;
            }

            .time {
                // font-weight: bold;
                opacity: 0.65;
            }

            span:not(:last-child)::after {
                content: ",";
            }
        }
    }
}

@media (min-width: 700px) {
    .main {
        &:hover {
            cursor: pointer;
            background-color: #dfdfdf;
        }
    }
}

@media (min-width: 1290px) {
    .main {
        width: 100%;
        max-width: 100rem;
        margin: auto;
    }
}