.main {
    border: 1px solid black;
    padding: 1.2rem;
    margin: 1.6rem;
    margin-top: 0;

    h3 {
        font-size: 1.6rem;
        margin: 0;
    }

    hr {
        margin: 1.6rem 0;
    }

    .bookingID {
        font-weight: normal;
        margin: 1rem 0;
    }
    
    span {
        font-size: 1.6rem;
    }

    .topSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.6rem;
    }

    .bottomSection {
        .timeslots {
            display: flex;
            flex-wrap: wrap;
            gap: 0.4rem;

            span {
                font-weight: bold;
                opacity: 0.5;
            }

            span:not(:last-child)::after {
                content: ",";
            }
        }
    }
}