.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;

    h1 {
        font-weight: normal;
        font-size: 2.4rem;
    }
    
    .icon {
        // position: absolute;
        display: block;
        z-index: 1;
        left: 10%;
    }

    span {
        // position: absolute;
        font-size: 1.4rem;
        right: 10%;
        width: 6rem;
    }
}

.line {
    height: 0.1rem;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

@media (min-width: 700px) {
    .main { 
        display: none;
    }
}